#top{
    background-color: lightgreen;
    text-align: right;
    margin: 20px;
    padding: 20px;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: black;
  }

a:hover {
    color: grey;
}


.container {
  height: 500px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}